body{
    background:linear-gradient(#bbb, transparent 1px), linear-gradient(90deg,#bbb, transparent 1px);
    background-size: 10px 10px;
    background-position: center center;
    width: 70%;
    margin: 0 auto;
}
#books tr td {
    display: flex;
    margin-right: 20px;
}

#books tr td div{
    margin-right: 16px;
}

#book tr td div{
    margin-right: 16px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
    display: block;
    margin: -10px;
}

#comments{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}